/* Style Sheed: For PassionTextEditor */
/* =================================================================================== */

/* root variables for theme */
:root {
    --theme1: #C8D3F5;
    --theme2: #181825;
    --txt: #E0DEF4;
    --bg: #1E1E2E;
}

/* universal styles */
* {
    scrollbar-color: var(--theme1) var(--bg);
    scrollbar-width: thin;
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* page body */
body {
    background-color: var(--theme2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* split view clss for editor-screen and output-screen*/
.split-container1 {
    position: sticky;
    top: 0;
    width: 60%;
    border-right: 2px solid var(--theme1);
    height: 100vh;
}
.split-container2 {
    width: 40%;
    height: 100vh;
}

/* resizer for split view */
.resizer {
    width: 5px;
    background-color: var(--theme2);
    cursor: col-resize;
    height: 100%;
    transition: background-color 0.2s ease;
}

.resizer:hover {
    background-color: var(--theme1);
}

/* editor-screen container */
.editor-screen {
    background-color: var(--theme2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-width: 300px;
}

#output-screen {
    display: none;
    min-width: 300px;
}

/* titlebar bar, output bar */
.title-bar,
.output-bar {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: var(--theme2);
    color: var(--theme1);
    font-size: 1rem;
    font-weight: bold;
    z-index: 100;
    width: 100%;
    user-select: none;
    padding: 2px 5px;
}

/* menu tabs  */
.menu-item {
    display: inline-block;
    cursor: pointer;
    padding: 2px 5px;
    position: relative;
    white-space: nowrap;
    border: 1px solid transparent;
    border-radius: 5px;
}

/* transition for theme change and hover */
.menu-item,
.btn,
.dropdown-item,
.tab,
.new-tab-btn,
.button-wrapper,
button {
    transition: background-color 0.5s ease, color 0.1s ease-in-out, border 0.5s ease;
}

/* menu options container */
.dropdown {
    color: var(--theme1);
    display: none;
    position: absolute;
    background-color: var(--theme2);
    border: 1px solid var(--theme1);
    z-index: 200;
    min-width: 100px;
    width: fit-content;
    left: 0;
    top: -100px;
    border-radius: 5px;
    transition: transform 0.3s ease-in, opacity 0.6s ease-in;
    transform: translate(0, -1000px);
    opacity: 0;
}

/* menu option styles */
.dropdown-item {
    display: flex;
    padding: 7px;
    cursor: pointer;
    white-space: pre;
}

/* style for menu option hover */
.dropdown-item:hover,
.dropdown-item:active {
    background-color: var(--theme1);
    color: var(--theme2);
}

/* theme, color change option styles */
#color,
#bgcolor,
.theme {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--txt);
    cursor: pointer;
}

#color::-webkit-color-swatch-wrapper,
#bgcolor::-webkit-color-swatch-wrapper,
.theme::-webkit-color-swatch-wrapper {
    padding: 0%;
}

#color::-webkit-color-swatch,
.theme::-webkit-color-swatch,
#bgcolor::-webkit-color-swatch {
    border: none;
}

/* label styles for color change options */
.dropdown-item>label {
    cursor: pointer;
}


/* dialogue boxes styles */
#find-replace-dialogue,
#custom-confirm,
#custom-alert,
#custom-prompt {
    display: block;
    left: 50%;
    position: absolute;
    background-color: var(--theme2);
    border: 1px solid var(--theme1);
    border-radius: 5px;
    padding: 10px;
    transition: transform 0.3s ease-in;
}

.page-links, .page-links:active, .page-links:visited {
    text-decoration: none;
    color: var(--theme1);
}
/* dialogue boxes message container styles */
#custom-confirm #confirm-message,
#custom-alert #alert-message,
#custom-prompt #prompt-message {
    font-weight: normal;
    margin: 5px 0 10px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    max-height: 200px;
    overflow: auto;
}

#alert-message {
    user-select: text;
}


/* dialogue boxes input styles */
#find-replace-dialogue input[type="text"],
#custom-prompt input[type="text"] {
    width: calc(100%);
    padding: 5px;
    margin: 10px 0;
    border: 1px solid var(--theme1);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: var(--bg);
    color: var(--txt);
}

input::placeholder,
textarea::placeholder {
    color: var(--txt);
    opacity: 0.5;
}

/* dialogue boxes button styles */
#find-replace-dialogue button,
#custom-confirm button,
#custom-alert button,
#custom-prompt button {
    white-space: pre;
    background-color: var(--theme2);
    color: var(--theme1);
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 5px;
    border: 1px solid var(--theme1);
}

/* hover effect for all clickable elements */
#find-replace-dialogue button:hover,
#custom-confirm button:hover,
#custom-alert button:hover,
#custom-prompt button:hover,
.btn:hover{
    background-color: var(--theme1);
    color: var(--theme2);
}


.menu-item:hover,
.tab:hover,
.new-tab-btn:hover {
    background-color: var(--theme1);
    color: var(--theme2);
}
/* find-replace buttons wrapper  */
#find-replace-dialogue .button-wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: -5px;
}

/* run, refresh, clear, edit button styles */
.btn {
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
    background-color: var(--theme2);
    color: var(--theme1);
    font-size: inherit;
    font-weight: inherit;
    margin: 0 5px;
}

/* tabs, add, clear tabs container */
.tab-container {
    border-bottom:1px solid var(--theme1);
    display: flex;
    position: relative;
    user-select: none;
    padding: 0 5px;
}

/* tabs container */
.tabs {
    display: flex;
    overflow-x: auto;
    scrollbar-width: thin;
    position: relative;
    padding: 5px;
}

/* tab styles */
.tab {
    position: relative;
    margin-right: 8px;
    padding: 5px;
    padding-right: 15px;
    cursor: pointer;
    border-radius: 5px;
    color: var(--txt);
    background-color: var(--bg);
    white-space: nowrap;
    max-width: 200px;
    min-width: 100px;
    overflow: hidden;
    height: 30px;
    font-size: 16px;
}

/* active-selected tab styles */
.tab.active {
    max-width: fit-content;
    border-bottom: 2px solid var(--theme1);
}

/* close tab button styles */
.tab button {
    text-align: center;
    color: var(--theme1);
    background-color: var(--theme2);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* add new tab and clear all tabs styles */
.new-tab-btn {
    background-color: var(--theme2);
    align-content: center;
    text-align: center;
    margin: 5px 2px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    padding: 5px;
    color: var(--theme1);
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}

/* workspace, for scrolling text vertically*/
.workspace {
    overflow: scroll;
    overflow-x: hidden;
    height: auto;
    width: 100%;
    max-height: 95vh;
    scrollbar-width: thin;
}

/* linenumbers + textarea container */
.code-field-container {
    background-color: var(--theme2);
    display: flex;
    position: relative;
    max-width: 100%;
    min-height: 95vh;
    max-height: auto;
}

/* text representator */
.text-represent {
    padding: 0;
    width: 4vw;
    position: sticky;
    min-height: 95vh;
    max-height: 95vh;
    background-color: var(--bg);
    color: var(--theme1);
    right: 0px;
    top: 0;
    font-size: 1px;
    line-height: 2px;
    overflow: hidden;
    white-space: pre;
    user-select: none;
    display: none;
}

.highlight {
    background-color: var(--txt);
}

/* line numbers styles */
.line-numbers {
    text-align: right;
    color: var(--theme1);
    background-color: var(--theme2);
    border-right: 1px solid var(--theme1);
    user-select: none;
    position: sticky;
    left: 0;
}

/* line numbers and text field comman styles */
.line-numbers,
.code-field {
    min-height: 95vh;
    max-height: auto;
    font-family: monospace;
    font-size: 16px;
    border-top: solid 10px transparent;
    border-bottom: solid 100px transparent;
}

/* editor textarea field styles */
.code-field {
    width: 100%;
    resize: none;
    white-space: pre;
    flex-grow: 1;
    overflow-y: hidden;
    outline: none;
    background-color: var(--bg);
    color: var(--txt);
    border: solid 10px transparent;
    border-right: solid 20px transparent;
}

/* output screen styles */
#output-frame,
.output-screen {
    background-color: white;
    min-height: 95vh;
    max-height: fit-content;
    height: auto;
    width: 100%;
    color: black;
    overflow: hidden;
    border: none;
}

#title {
    width:75%;
    overflow: hidden;
    white-space: pre;
}
/* button container for output bar and title bar */
.button-wrapper {
    display: flex;
}

@media screen and (min-width: 500px) {
    .text-represent {
        display: block;
    }
}
  
